<app-jumbotron [Titolo]="titolo" [SottoTitolo]="sottoTitolo"></app-jumbotron>

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form">
      <h3>Login Form</h3>
      <div class="form-group">
        <input type="text" class="form-control" id="userId" placeholder="Nome Utente" [(ngModel)]="usernameUser">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="pwdUser">
      </div>
      <div class="form-group">
        <button (click)=getsAuth() class="btnSubmit">Connetti</button>
      </div>
      <div class="form-group">
        <a href="#" class="ForgetPwd">Password Dimenticata?</a>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf='!authenticated '>
        {{errMsg}}
      </div>
    </div>
  </div>
</div>


<!-- <div>
  <label for="userId">Username:</label>
  <input type="text" name="" id="userId" placeholder="Username" [(ngModel)]=usernameUser>

  <label for="password">Password:</label>
  <input type="password" name="" id="password" placeholder="Password" [(ngModel)]=pwdUser>

  <button class="btn btn-primary" (click)=getsAuth()>Accedi</button>
</div>

<div *ngIf=!authenticated style="color:red;">{{errMsg}}</div>
<div *ngIf=successLogin style="color: green;">{{successMsg}}</div> -->
<!-- <hr>

<p>Il tuo username é {{usernameUser}} e la tua password é {{pwdUser}}</p> -->